<ion-header>
    <ion-navbar>
        <ion-title>
                <h1>ciao</h1>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

  <!--  
    <button ion-button (click)= "scanQrCode()">Start Scan</button>
    
    <div *ngIf="id">
        <p>{{id.text}}</p>
    </div>
-->

  <!--  <ion-card *ngFor="let item of items">
    
        <ion-card-content>
            <ion-card-title>
                {{item.name}}
            </ion-card-title>
            <h1>ciaociaociao</h1>
        </ion-card-content>
    </ion-card>-->
</ion-content>

